
body {
  margin-top: 80px;
}

div#ticboard {
  border: 2px black solid;
  width: 360px;
  margin: 50px auto;
}

div.cell {
  border: 2px black solid;
  float: left;
  width: 116px;
  height: 116px;
  line-height: 116px;
  text-align: center;
  font-size: 30px;
}
