<html>
  <head>
    <script src="../dist/js/jquery-2.2.4.js"></script>
    <script src="../dist/js/underscore.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <script src="viewer.js"></script>
    <link rel="stylesheet" type="text/css" href="viewer.css" />
    <title>Build a Wikipedia Viewer</title>
  </head>
  <body>
    <div id="wikiviewer">
      <div><a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">Click here for a random article</a></div>
      <div>
        <span id="search-icon">
          <i id="search" class="fa fa-search" aria-hidden="true"></i>
        </span>
        <span id="search-box">
          <input id="search" type="text" placeholder="Search" />
          <i id="close" class="fa fa-times" aria-hidden="true"></i>
        </span>
      </div>
      <div>Click icon to search</div>
      <div id="outbox"></div>
    </div>
    <script type="text/template" id="wiki-item">
      <div>
        <a href="<%= url %>" target="_blank">
          <div class="title"><%= title %></div>
          <div class="snippet"><%= snippet %></div>
        </a>
      </div>
    </script>
  </body>
</html>
