
body {
  margin-top: 50px;
  text-align: center;
}

#twitch-box {
  width: 450px;
  margin: auto;
}

.twitch-head {
  color: purple;
}

.status-online {
  background-color: green;
}

.status-offline {
  background-color: blue;
}

.status-close {
  background-color: grey;
}

img.logo {
  width: 50px;
  border-color: black;
  border-width: thin;
  border-style: solid;
  border-radius: 50%;
  background-color: white;
}
