
body {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.container {
  max-width: 600px;
}

.row {
  border: thin white solid;
  padding: 15px;
}

.twitch-head {
  color: purple;
}

.status-online {
  background-color: darkseagreen;
}

.status-offline {
  background-color: steelblue;
}

.status-close {
  background-color: silver;
}

a {
  color: purple;
}

a[href="#"] {
  pointer-events: none;
}

img.logo {
  width: 50px;
  border-color: black;
  border-width: thin;
  border-style: solid;
  border-radius: 50%;
  background-color: white;
}
