
.simon {
  width: 400px;
  margin: auto;
}

.board > div {
  position: absolute;
}

.board {
  width: 400px;
  height: 400px;
  background: dimgrey;
  border-radius: 50%;
}

.outer {
  margin: 20px;
  padding: 0px;
  width: 360px;
  height: 360px;
  background: dimgrey;
  border-radius: 50%;
  overflow: hidden;
}

.inner {
  margin: 104px;
  border: 6px dimgrey solid;
  width: 180px;
  height: 180px;
  background: white;
  border-radius: 50%;
  text-align: center;
}

table {
  position: relative;
  left: -20px;
  top: -20px;
  border-spacing: 0px;
}

table, th, td {
  border-collapse: collapse;
  padding: 0px;
}

td > div {
  width: 190px;
  height: 190px;
  margin: 5px;
}

div.green {
  background-color: green;
}
div.red {
  background-color: red;
}
div.blue {
  background-color: blue;
}
div.yellow {
  background-color: yellow;
}

.title {
  margin-top: 30px;
  font-size: 40px;
}

.control > div {
  display: inline-block;
  /*border: 1px solid;*/
}

label {
  display: inline-block;
  font-size: 10px;
  margin-top: 6px;
}

.count {
  margin-left: 20px;
  margin-right: 5px;
  width: 50px;
}

.display {
  height: 26px;
  border-radius: 3px;
  background-color: brown;
}

.start {
  width: 36px;
}

.round {
  width: 14px;
  height: 14px;
  margin: auto;
  border: 4px brown solid;
  border-radius: 50%;
  background-color: red;
}

.roundred {
  background-color: red;
}

.mode {
  margin-right: 20px;
  width: 36px;
}

.indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 5px;
  background: black;
}

.roundyellow {
  background-color: yellow;
}
